@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    /* overflow-y: hidden; */
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgba(19, 20, 21, 1);
}
